*{
  list-style: none !important;
}

body {
  text-align: center;
  background-color: black;
  color: black;
  font-family: poppins;
}

ul {
  margin-right: 50px;
}

img {
  width: 10%;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

.container {
  width: 500px;   /* Définit la largeur */
  margin: 0 auto; /* Définit automatiquement les marges à gauche/droite */
  margin-top: 2rem;
}

.card-1 {
  margin: 0 auto;
  margin-top: 2rem !important;
  background: white;
  padding-bottom: 3rem;
  border: 1px solid lightgrey;
  border-radius: 20px;
  box-shadow: 20px white;
  max-width: 40rem;
}

.card-2 {
  margin: 0 auto;
  margin-top: 2rem !important;
  background: white;
  border: 1px solid lightgrey;
  border-radius: 20px;
  box-shadow: 20px white;
  max-width: 40rem;
}

button {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  border: 0px !important;
  font-weight: bold;
}

button:hover {
  background-color: black;
  cursor: pointer;
}
i {
  font-size: 2em;
}

li {
  display: inline;
  margin-left: 1em;
}
