*{
  list-style: none !important;
}

body {
  text-align: center;
  background-color: white;
  color: black;
  font-family: poppins;
}

.typed-cursor {
  display: inline;
  font-size: inherit;
  vertical-align: baseline;
}

ul {
  margin-right: 50px;
}

img {
  width: 10%;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 500px;   /* Définit la largeur */
  margin: 0 auto; /* Définit automatiquement les marges à gauche/droite */
  margin-top: 2rem;
}

.card-1 {
  margin: 0 auto;
  margin-top: 2rem !important;
  background: white;
  padding-bottom: 3rem;
  border: 1px solid lightgrey;
  border-radius: 20px;
  box-shadow: 20px white;
  max-width: 40rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.card-2 {
  margin: 0 auto;
  margin-top: 2rem !important;
  background: white;
  border: 1px solid lightgrey;
  border-radius: 20px;
  box-shadow: 20px white;
  max-width: 40rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

button {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  border: 0px !important;
  font-weight: bold;
  transition-duration: 300ms;
}

button:hover {
  background-color: black;
  cursor: pointer;
}
i {
  font-size: 2em;
  transition-duration: 300ms;
}

i:hover {
  transform: scale(1.5);
}

li {
  display: inline;
  margin-left: 1em;
}

.stack i {
  margin-left: 2rem;
}

.fa-html5:hover {
  color: orangered;
}

.fa-css3-alt:hover {
  color: blue;
}

.fa-square-js:hover {
  color: #f7df1e;
}

.fa-php:hover {
  color: lightblue;
}

.fa-laravel:hover {
  color: orange;
}

.fa-node-js:hover {
  color: #68A063;
}

.stack-icons {
  text-align: center;
}

svg {
  transition-duration: 300ms;
}

svg:hover {
  transform: scale(1.5);
}

.go-red:hover {
  fill: red;
}

@media (max-width: 360px) {
  .stack-icons {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
  }

  .stack-icons i {
    margin-top: 1rem;
  }
}
